.App {
  max-width: 960px;
  margin: 0 auto;
}
body {
  background: #f2f9f1;
}
a {
  color: #1f6f78;
}

h1 {
  text-align: center;
  margin: 15px 0;
  color: #1f6f78;
  font-weight: bold;
  font-size: 60px;
}
footer {
  text-align: center;
  margin: 30px 0;
}
.App header {
  margin: 30px 0;
}
